#only-mobile {
  position: fixed;
  background-color: var(--yellow);
  z-index: 99;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  top: 0;
}

@media screen and (max-width: 500px) {
  #only-mobile {
    display: none;
  }
}
