.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 15px;
}
.screen-header__icons {
  display: flex;
}

@keyframes screenHeaderIconAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons i:hover {
  animation: screenHeaderIconAnimation 0.5s ease-in-out;
}
